@use 'bases/variables' as v;
@use 'bases/mixins' as m;

.header {
  padding: 5rem 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  
  @include m.tablet {
    min-height: 70rem;
  }
  
  &::before {
    content: '';
    background-color: v.$black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
  }

  .header-content {
    position: relative;
    
    h1 {
      text-align: center;
      color: v.$white;
      text-transform: uppercase;
      margin-top: 5rem;

      @include m.tablet { 
        margin-top: 10rem;
      }
    }
  }
}

.header-init {
  background-image: url(../../img/header_inicio.jpg);
}

.header-us {
  background-image: url(../../../build/img/header_nosotros.jpg);
}

.header-process {
  background-image: url(../../../build/img/header_proceso.jpg);
}

.header-menu {
  background-image: url(../../../build/img/header_menu.jpg);
}

.header-galery {
  background-image: url(../../../build/img/header_galeria.jpg);
}

.header-contact {
  background-image: url(../../../build/img/header_contacto.jpg);
}