@use 'variables' as v;

.text-center {
  text-align: center;
}

.bg-primary {
  background-color: v.$primary-color;
}

.bg-white {
  background-color: v.$white;
}

.margin-negative-10 {
  margin-top: -10rem;
}